<% title "About" %>

<div id="indexwrap">

	<div id="aboutwrap">
		<div class="abouttitle">
			<h3>Monterey Bay's source for jobs.</h3>
		</div>

		<p style="font-family: Arial; font-size: 13px; padding-left: 17px">
			Whether you're a recent college graduate or a seasoned pro, Hire Monterey hopes to lead you to your next big break right here in the Monterey Bay Area. Hire Monterey provides free access to our job board from dozens of different local employers. No matter your ambition, we hope to connect your talents with the right opportunity.
		</p></br>

		<div class="browselink">
			Browse our <%= link_to "Job Listings", jobs_path %>
		</div>

		<%= image_tag("aboutpic.png") %>
	</div>
</div>