<% title "Advertise" %>
<div id="indexwrap">
	<div id="aboutwrap">
		<div class="abouttitle">
			<h3>Advertise With Us</h3>
		</div>

		<div id="advertiseleft">
			<%= image_tag('billboard.jpg', :size => "390x261") %>
		</div>
		<div id="advertisetext1">
			Our clients are predominantly local businesses in the Monterey Bay Area who wish to drive more business by targeting the right type of customers. At Hire Monterey you can advertise your message to potential customers who live and work nearby, making greater use of your advertising dollars. Advertising on Hire Monterey is simple and easy.</br></br>

			We offer a square banner ad slot at a size of 250x250 pixels located on the right sidebar of our jobs listing <%= link_to "page", jobs_path %>.</br></br>


			<strong style="font-size: 14px; color: #1668e4">Current Rates</strong></br>
			<table class="prices">
				<th>Type</th>
				<th>Price</th>
				<tr><td>1-Day Ad</td><td>$24.99</td></tr>
				<tr><td>7-Day Ad Block</td><td>$149.99</td></tr>
			</table>
			</br>
		</div>
		<div id="advertisetext2">
			<strong style="font-size: 14px; color: #1668e4">Creative Specifications</strong></br>

			<ul>
				<li>Ads must be gif, jpg, or png format</li>
				<li>All click-throughs must open in a new browser window or tab</li>
				<li>Ads cannot be disgused as news or mimic site functionality</li>
			</ul></br>

			<strong style="font-size: 14px; color: #1668e4">How to Advertise With Us</strong></br></br>

			Email your ad to info@hiremonterey.com, ensuring that the image is 250x250 and follows the Creative Specifications above. Next, purchase the desired ad type via the buttons below. Upon receipt, a representative will contact you promptly to set up a time for your ad to be displayed on Hire Monterey.</br></br>

			<strong style="font-size: 14px; color: #1668e4">Purchase Ad</strong></br></br>
		<table class="adbuy">
			<th>1-Day Ad - $24.99</th>
			<th>7-Day Ad Block - $149.99</th>
			<tr><td>
					<form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="UAQZW97Y55SMA">
					<input type="image" src="http://imageshack.com/a/img51/4035/4hyk.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
				<td>
					<form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="NF4AECCZAF5QA">
					<input type="image" src="http://imageshack.com/a/img51/4035/4hyk.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</td>
			</tr>
		</table>
			</br>
			If you have any questions at all, please feel free to email us at info@hiremonterey.com. We want to take care of any and all concenrs to make your advertising experience a pleasurable and productive experience.</br></br>
		</div>
	</div>
</div>