<% title "Terms of Service" %>

<div id="indexwrap">
<H1 CLASS="western" STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif">Hire
Monterey Terms of Service</FONT></FONT></H1>
<P><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">You
agree that by utilizing the Hire Monterey website, or uploading any
materials to the Hire Monterey website, you are entering into a
legally binding agreement with Hire Monterey Inc. based on the terms
of this Hire Monterey Terms of Service and the Hire Monterey Privacy
Policy (as both may be amended from time to time), (collectively
referred to as the &ldquo;Agreement&rdquo;).</SPAN></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0.14in; border: none; padding: 0in; font-style: normal; font-weight: normal">
<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=4>Hire
Monterey Terms of Service</FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Job
Content</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
jobs contained in Hire Monterey's search results, or linked from
those results, may have been created by people over whom Hire
Monterey exercises no control. Hire Monterey's job search results are
indexed in an automated manner and Hire Monterey does not always
screen the jobs. Hire Monterey assumes no responsibility for the
content of any job listing or website that is either included in Hire
Monterey's search results or linked to by Hire Monterey.com.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Use
of Hire Monterey</B></FONT></FONT></FONT></P>
<P><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Hire
Monterey's services are for your personal, non-commercial use only.
If you wish to make commercial use of Hire Monterey, you must enter
into an agreement with Hire Monterey to do so in advance. Please
contact us for more information.</SPAN></SPAN></FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Ownership
and Rights to Use Materials</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">If
you post content or submit material, you grant Hire Monterey a
nonexclusive, worldwide, perpetual, irrevocable, royalty-free,
sublicensable (through multiple layers of sublicensees) right and
license to make, use, sell, sublicense, reproduce, distribute,
perform, display, prepare derivative works from and otherwise exploit
all such content and materials for any purpose without restriction.
Furthermore, you grant Hire Monterey the right to use your name
and/or user name in connection with the content. You represent and
warrant that all content and materials you provide shall be your
original work product and will not be based on, or derived from, the
proprietary information or items of a third party. You agree not to
impersonate any person or communicate under a false name or a name
you are not entitled or authorized to use. You will defend and
indemnify Hire Monterey and its affiliates from any claims resulting
from any content or materials you provide hereunder.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">At
your discretion, you may provide feedback to Hire Monterey concerning
the functionality and performance of the Hire Monterey service or
site from time to time, including, without limitation, identifying
potential errors, improvements, modifications, bug fixes, or
enhancements (&ldquo;Feedback&rdquo;). If you, through your
evaluation or otherwise, suggests any Feedback, you hereby grant Hire
Monterey a nonexclusive, worldwide, perpetual, irrevocable,
royalty-free, sublicensable (through multiple layers of sublicensees)
right and license to make, use, sell, sublicense, reproduce,
distribute, perform, display, prepare derivative works from and
otherwise exploit all such Feedback and materials for any purpose
without restriction. You agree that Hire Monterey may disclose that
Feedback to any third party in any manner and you agree that Hire
Monterey has the ability to sublicense all Feedback in any form to
any third party without restriction.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
agree not to access (or attempt to access) any of the services or
site by any means other than through the interface that is provided
by Hire Monterey, unless you have been specifically allowed to do so
in a separate agreement with Hire Monterey. You agree that you will
not engage in any activity that interferes with or disrupts the
services or site (or the servers and networks which are connected to
the services or site). Unless you have been specifically permitted to
do so in a separate agreement with Hire Monterey, you agree that you
will not reproduce, duplicate, copy, sell, trade or resell the
services or site for any purpose. You agree that you are solely
responsible for (and that Hire Monterey has no responsibility to you
or to any third party for) any breach of your obligations under these
Terms and Conditions and for the consequences (including any loss or
damage which Hire Monterey may suffer) of any such breach.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Hire
Monterey reserves the right to use the content of messages sent
through Hire Monterey to prevent potentially illegal activities and
activities that are detrimental to other users. Hire Monterey
reserves the right to use a variety of methods to detect and address
anomalous activity and screen content to prevent abuse such as spam.
These efforts may on occasion result in a temporary or permanent
suspension or termination of some functions for some users.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Registration</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Some
areas of the Hire Monterey service require you to register. If you
register, you agree to (a) provide true, accurate, current and
complete information about yourself as prompted by our registration
form (including your email address) and (b) be responsible for the
confidentiality and use of your username and password and not
transfer or resell your use of or access to the Site to any third
party.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">We
reserve the right at all times (but will not have an obligation) to
terminate users, remove or edit postings, reclaim usernames or URLs.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Examples
of Violations</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">In
addition to (and/or as some examples of) the violations described in
the Terms of Service, users may not:</FONT></FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Generate
	or facilitate unsolicited commercial email (&ldquo;spam&rdquo;).
	Such activity includes, but is not limited to</FONT></FONT></FONT></P>
	<UL>
		<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
		<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">sending
		messages in violation of the CAN-SPAM Act or any other applicable
		anti-spam law</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
		<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">imitating
		or impersonating another person or his, her or its email address,
		or creating false accounts for the purpose of sending spam</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
		<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">data
		mining any Hire Monterey property to find contact information</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
		<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">sending
		messages to users who have asked not to be contacted</FONT></FONT></FONT></P>
		<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
		<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">selling,
		exchanging or distributing to a third party the contact information
		of any person without such person's knowing and continued consent
		to such disclosure</FONT></FONT></FONT></P>
	</UL>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Send,
	upload, distribute or disseminate or offer to do the same with
	respect to any unlawful, defamatory, harassing, abusive, fraudulent,
	infringing, obscene, or otherwise objectionable content</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Intentionally
	distribute viruses, worms, defects, Trojan horses, corrupted files,
	hoaxes, or any other items of a destructive or deceptive nature</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Conduct
	or forward pyramid schemes and the like</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Transmit
	content that may be harmful to minors</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Impersonate
	another person (via the use of an email address or otherwise) or
	otherwise misrepresent yourself or the source of any email</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Illegally
	transmit another's intellectual property or other proprietary
	information without such owner's or licensor's permission</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Use
	Hire Monterey to violate the legal rights (such as rights of privacy
	and publicity) of others</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Promote
	or encourage illegal activity</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Interfere
	with other Hire Monterey users' enjoyment of the Service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Create
	multiple user accounts in connection with any violation of the
	Agreement or create user accounts by automated means or under false
	or fraudulent pretenses</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Sell,
	trade, resell or otherwise exploit for any unauthorized commercial
	purpose or transfer any Hire Monterey account</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Modify,
	adapt, translate, or reverse engineer any portion of the Hire
	Monterey Service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Remove
	any copyright, trademark or other proprietary rights notices
	contained in or on the Hire Monterey Service</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Reformat
	or frame any portion of the web pages that are part of the Hire
	Monterey Service without Hire Monterey's explicit permission</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Contact
	other Hire Monterey users about multi-level marketing (MLM)
	programs, jobs that require payment to start, and any topics Hire
	Monterey considers detrimental to its users</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Create
	multiple Hire Monterey accounts without permission</FONT></FONT></FONT></P>
	<LI><P STYLE="margin-bottom: 0in; font-style: normal; font-weight: normal">
	<FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Bypass
	any limitations or suspensions of functionality</FONT></FONT></FONT></P>
	<LI><P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Provide
	false information in the course of using Hire Monterey</FONT></FONT></FONT></P>
</UL>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Change
In Service and Terms</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Hire
Monterey may modify or terminate the Hire Monterey services from time
to time, for any reason, and without notice. Hire Monterey reserves
the right to modify these Terms of Service from time to time without
notice so check back often to review these Terms of Service.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Disclaimer
of Warranties</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Hire
Monterey disclaims any and all responsibility or liability for the
accuracy, content, completeness, legality, reliability, or
operability or availability of information or material displayed in
the Hire Monterey results or posted on the Hire Monterey website by
Hire Monterey or third parties. Hire Monterey disclaims any
responsibility for the deletion, failure to store, misdelivery, or
untimely delivery of any information or material. Hire Monterey
disclaims any responsibility for any harm resulting from downloading
or accessing any information or material on the Hire Monterey site or
on other sites on the Internet accessed through Hire Monterey.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">THE
HIRE MONTEREY SERVICES AND SITE, AND ALL MATERIALS, INFORMATION,
PRODUCTS AND SERVICES INCLUDED IN THE HIRE MONTEREY SERVICES AND SITE
ARE PROVIDED &quot;AS IS,&quot; WITH NO WARRANTIES WHATSOEVER, EITHER
EXPRESS OR IMPLIED. HIRE MONTEREY AND ITS LICENSORS EXPRESSLY
DISCLAIM TO THE FULLEST EXTENT PERMITTED BY LAW ALL EXPRESS, IMPLIED,
AND STATUTORY WARRANTIES, INCLUDING, WITHOUT LIMITATION, THE
WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
NON-INFRINGEMENT OF PROPRIETARY RIGHTS. HIRE MONTEREY AND ITS
LICENSORS DISCLAIM ANY WARRANTIES REGARDING THE SECURITY,
RELIABILITY, TIMELINESS, AND PERFORMANCE OF THE HIRE MONTEREY
SERVICES. HIRE MONTEREY AND ITS LICENSORS DISCLAIM, ANY WARRANTIES
FOR ANY INFORMATION OR ADVICE OBTAINED THROUGH THE HIRE MONTEREY
SERVICES. HIRE MONTEREY AND ITS LICENSORS DISCLAIM ANY WARRANTIES FOR
SERVICES OR GOODS RECEIVED THROUGH OR ADVERTISED ON THE HIRE MONTEREY
SERVICES OR SITE OR RECEIVED THROUGH ANY LINKS PROVIDED BY HIRE
MONTEREY.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">YOU
UNDERSTAND AND AGREE THAT YOU DOWNLOAD OR OTHERWISE OBTAIN MATERIAL
OR DATA THROUGH THE USE OF THE HIRE MONTEREY SERVICES OR SITE AT YOUR
OWN DISCRETION AND RISK AND THAT YOU WILL BE SOLELY RESPONSIBLE FOR
ANY DAMAGES TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM
THE DOWNLOAD OF SUCH MATERIAL OR DATA.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">SOME
STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED
WARRANTIES, SO THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU. YOU MAY
ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE AND JURISDICTION
TO JURISDICTION.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Limitation
of Liability</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">UNDER
NO CIRCUMSTANCES SHALL HIRE MONTEREY OR ITS LICENSORS BE LIABLE TO
ANY USER ON ACCOUNT OF THAT USER'S USE OR MISUSE OF OR RELIANCE ON
THE HIRE MONTEREY SERVICES OR SITE, ARISING FROM ANY CLAIM RELATING
TO THESE TERMS OF SERVICE OR THE SUBJECT MATTER HEREOF. SUCH
LIMITATION OF LIABILITY SHALL APPLY TO PREVENT RECOVERY OF DIRECT,
INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY, AND PUNITIVE
DAMAGES WHETHER SUCH CLAIM IS BASED ON WARRANTY, CONTRACT, TORT
(INCLUDING NEGLIGENCE), INDEMNITY, OR OTHERWISE, EVEN IF HIRE
MONTEREY OR ITS LICENSORS HAVE BEEN ADVISED OF THE POSSIBILITY OF
SUCH DAMAGES AND NOTWITHSTANDING THE FAILURE OF ESSENTIAL PURPOSE OF
ANY REMEDY. SUCH LIMITATION OF LIABILITY SHALL APPLY WHETHER THE
DAMAGES ARISE FROM USE OR MISUSE OF AND RELIANCE ON THE HIRE MONTEREY
SERVICES OR SITE, FROM RELIANCE OR DAMAGE CAUSED BY INFORMATION
POSTED ON THE HIRE MONTEREY SITE, FROM INABILITY TO USE THE HIRE
MONTEREY SERVICES OR SITE, OR FROM THE INTERRUPTION, SUSPENSION, OR
TERMINATION OF THE HIRE MONTEREY SERVICES OR SITE (INCLUDING SUCH
DAMAGES INCURRED BY THIRD PARTIES). THIS LIMITATION SHALL ALSO APPLY
WITH RESPECT TO DAMAGES INCURRED BY REASON OF OTHER SERVICES OR GOODS
RECEIVED THROUGH OR ADVERTISED ON THE HIRE MONTEREY SERVICES OR SITE
OR RECEIVED THROUGH ANY LINKS PROVIDED IN THE HIRE MONTEREY SERVICES
OR SITE. THIS LIMITATION SHALL ALSO APPLY, WITHOUT LIMITATION, TO THE
COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, LOST PROFITS,
OR LOST DATA. SUCH LIMITATION SHALL FURTHER APPLY WITH RESPECT TO THE
PERFORMANCE OR NON-PERFORMANCE OF THE HIRE MONTEREY SERVICES OR SITE
OR ANY INFORMATION OR MERCHANDISE THAT APPEARS ON, OR IS LINKED OR
RELATED IN ANY WAY TO, THE HIRE MONTEREY SERVICES. SUCH LIMITATION
SHALL APPLY NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY
LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">SOME
STATES OR OTHER JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR
LIMITATION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO
THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT APPLY TO YOU.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Without
limiting the foregoing, under no circumstances shall Hire Monterey or
its licensors be held liable for any delay or failure in performance
resulting directly or indirectly from acts of nature, forces, or
causes beyond its reasonable control, including, without limitation,
Internet failures, computer equipment failures, telecommunication
equipment failures, other equipment failures, electrical power
failures, strikes, labor disputes, riots, insurrections, civil
disturbances, shortages of labor or materials, fires, floods, storms,
explosions, acts of God, war, governmental actions, orders of
domestic or foreign courts or tribunals, non-performance of third
parties, or loss of or fluctuations in heat, light, or air
conditioning.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><B>Miscellaneous</B></FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">These
Terms of Service will be governed by and construed in accordance with
the laws of the State of California, without giving effect to its
conflict of laws provisions or your actual state or country of
residence. Any action arising out of these Terms of Service shall be
brought in the state or federal courts and you hereby agree to the
jurisdiction of such courts. If for any reason a court of competent
jurisdiction finds any provision or portion of the Terms of Service
to be unenforceable, the remainder of the Terms of Service will
continue in full force and effect.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">These
Terms of Service constitute the entire agreement between the parties
with respect to the subject matter hereof and supersedes and replaces
all prior or contemporaneous understandings or agreements, written or
oral, regarding such subject matter. Any waiver of any provision of
the Terms of Service will be effective only if in writing and signed
by Hire Monterey.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">By
using this site, you signify your assent to this Agreement and agree
to comply with all applicable laws and regulations, including U.S.
export and re-export control laws and regulations, copyright laws and
other laws regarding intellectual property. The materials on this
Site are provided with &ldquo;Restricted Rights.&rdquo; Use,
duplication, or disclosure by the Government is subject to
restrictions as set forth in applicable laws and regulations. Use of
the materials by the Government constitutes acknowledgment of Hire
Monterey&rsquo;s proprietary rights in them.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">Hire
Monterey reserves all rights not specifically granted herein. You
shall not modify any copyright notices, proprietary legends, any
trademark and service mark attributions, any patent markings, and
other indicia of ownership on the materials accessed through the
service or site other than your content. Any use of materials or
descriptions; any derivative use of this site or its materials; and
any use of data mining, robots, or similar data gathering and
extraction tools is strictly prohibited. In no event shall the user
frame any portion of the site or any materials contained therein.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">The
site may contain links to other sites on the Internet which are owned
and operated by third party vendors and other third parties (the
&ldquo;External Sites&rdquo;). You acknowledge that Hire Monterey is
not responsible for the availability of, or the materials located on
or through, any External Sites. You should contact the site
administrator or webmaster for those External Sites if you have any
concerns regarding such links or the materials located on such
External Sites.</FONT></FONT></FONT></P>
<P STYLE="font-style: normal; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt">You
shall not transmit to Hire Monterey or upload as part of the service
or site any Harmful Code or use or misappropriate the data on this
service or site for your own commercial gain. &ldquo;Harmful Code&rdquo;
shall mean any software (sometimes referred to as &ldquo;viruses,&rdquo;
&ldquo;worms,&rdquo; &ldquo;trojan horses,&rdquo; &ldquo;time bombs,&rdquo;
&ldquo;time locks,&rdquo; &ldquo;drop dead devices,&rdquo; &ldquo;traps,&rdquo;
&ldquo;access codes,&rdquo; &ldquo;cancelbots&rdquo; or &ldquo;trap
door devices&rdquo;) that: (a) is intentionally designed to damage,
disrupt, disable, harm, impair, interfere with, intercept,
expropriate or otherwise impede in any manner, any data, storage
media, program, system, equipment or communication, based on any
event, including for example but not limited to (i) exceeding a
number of copies, (ii) exceeding a number of users, (iii) passage of
a period of time, (iv) advancement to a particular date or other
numeral, or (v) use of a certain feature; or (b) would enable an
unauthorized person to cause such result; or (c) would enable an
unauthorized person to access another person&rsquo;s information
without such other person&rsquo;s knowledge and permission.</FONT></FONT></FONT></P>
<P><FONT COLOR="#000000"><FONT FACE="Arial, sans-serif"><FONT SIZE=2 STYLE="font-size: 9pt"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Change
of Address: If you change your billing address from an address within
the United States to an address outside the United States, or from an
address outside of the United States to an address inside the United
States, you will continue to be under contract with the same Hire
Monterey party for the remainder of the month in which you made the
change. At the next month, your contract will be with the Hire
Monterey party identified in the first paragraph of these Terms of
Service.</SPAN></SPAN></FONT></FONT></FONT></P>
</div>